import React, { Component } from 'react';
import {
  Main,
  Header,
  Footer
} from 'design-system-name';

export class {{pascalCase name}} extends Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <body>
        <Header />
        <Main>
          
        </Main>
        <Footer>Footer content</Footer>
      </body>
    );
  }
}
